<section class="header-home">
  <h1>Manquers & Commanders</h1>
  <span>Todos nuestros trofeos Nacionales e Internacionales</span>
</section>
  
<section class="module-win">
  <h3>1er premio en el I Torneo de COD4, en la Felanitx-weekend 2014</h3>
  <span>Pese a tener a la estrella en dudosas condiciones y sin la equipación oficial, la organización nos hizo el favor de dejarnos jugar la final, donde se barrio literalmente a los oponentes</span>
</section>

<section class="module-win">
  <h3>Diploma semifinalistas en el I Torneo de LoL, en la Felanitx-weekend 2014</h3>
  <span>Este valioso diploma se vio complementado con el Premio "FairPlayEnTop". Este premio se consiguio a base de no realizar ni un gank en top durante todo el torneo.</span>
</section>

<section class="module-win">
  <h3>1er premio en la XXVI edición del prestigioso DefconMidnightTournament</h3> 
  <span class="kh7">Esta victoria se consiguio pese a tener a KH7 en el equipo rival, considerado TOP3 EUW por aquel entonces.</span>
	<a class="btn btn-primary" role="button" data-toggle="collapse" href="#kh7" aria-expanded="false" aria-controls="kh7">
	Resumen de la final
	</a>
	<div class="collapse" id="kh7">
		<%= image_tag("kh7_image.gif") %>
	</div>
</section>