<section class="header-home">
  <h1>Manquers & Commanders</h1>
  <span>Asociación de 'gamers' de andar por casa. La fama no nos ciega.</span>
</section>

<div class="content-home">
  <span>Torneos patrocinados por M&C en la FelanitxWeekendParty.</span>
</div>

<section class="module-hs">
  <h3>Torneo de Hearthstone:</h3>
  <ul>
    <li>BO3 rounds</li>
    <li>Playoff mode</li>
    <li>Win and loosers brackets</li>
    <li>Premio: Una baraja española de cartas y diploma acreditado</li>
  </ul>
</section>

<section class="module-q3">
  <h3>Torneo de Quake 3:</h3>
  <ul>
    <li>1vs1 versus</li>
    <li>BO3 rounds</li>
    <li>10 min round</li>
    <li>Win and loosers brackets</li>
    <li>Premio: Una caja surtido Cuétara, lata de chipirones en su salsa y diploma acreditado</li>
  </ul>
</section>

<section class="module-lol">
  <h3>TLeague Of Legends</h3>
  <div class="manquers-orange">
    <span>Manquers Orange:</span>
    <ul>
      <li>name001</li>
      <li>name002</li>
      <li>name003</li>
      <li>name004</li>
      <li>name005</li>
    </ul>
  </div>
  <div class="manquers-blue">
    <span>Manquers Blue:</span>
    <ul>
      <li>name001</li>
      <li>name002</li>
      <li>name003</li>
      <li>name004</li>
      <li>name005</li>
    </ul>
  </div>
</section>